{% extends "page/BASE.html" %}

{% load static %}
{% block page_content %}
    <div class="photo21"></div>
    <div class="profile1"></div>
    <div class="perkenalan">Hello, I’m Shannia Dwi Melianti and I’m interesting in design and technologies.  </div>
    <div class="education">
            2018 - 2022 <br/>
            Universitas Indonesia<br>
            <br/>
            2015 - 2018<br>
            SMAN 7 Tangerang Selatan          
    </div>
    <div class="header-edu">
    E  D  U <br/>C  A  T<br/>I  O  N
    </div>
    <div class="photo22"></div>
    <div class="profile2"></div>
    <div class="title-page">A B O U T M E</div>
    <div class="style1">A B O U T M E</div>
    <div class="style2">A B O U T M E</div>
    <div class="header-skill">EDUCATION SKILLS</div>

    <div class="container-1">
        <div class="row">
            <div class="col-sm">
                <div class="python"></div>
            </div>
            <div class="col-sm">
                <div class="java"></div>
            </div>
            <div class="col-sm">
                <div class="html"></div>
            </div>
            <div class="col-sm">
                <div class="css"></div>
            </div>
        </div>
    </div>
    
{% endblock %}