{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
        <title>SHANS</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <script href="{% static 'js/bootstrap.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
<body>

    {% block page_content %}
    {% endblock %}

    <nav class="navbar navbar-expand-md sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'page:home' %}"> SHANS</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#mainNav">
                <span class="navbar-toggler-icon" style="background: black"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse" id="mainNav">
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item" >
                        <a class="nav-link" href="{% url 'page:aboutme' %}">ABOUT ME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'page:experience' %}">EXPERIENCES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'page:project' %}" >PROJECT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'page:gallery' %}" >GALLERY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'page:contact' %}" >CONTACT</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="footer">
        <a class="footer-logo">made by SHANS</a>
    </div>

</body>
</html>
