{% extends "page/BASE.html" %}

{% load static %}
{% block page_content %}
    <div class="c-bag-1"></div>
    <div class="c-bag-2"></div>
    <div class="c-bag-3"></div>
    <div class="c-bag-4"></div>
    <div class="judul-contact">
        <div class="con-1">CONTACT</div>
        <div class="con-2">CONTACT</div>
        <div class="con-3">CONTACT</div>
        <div class="con-4">CONTACT</div>
        <div class="con-5">CONTACT</div>
    </div>
    <div class="horizontal"></div>
    <div class="container-2">
        <div class="row">
          <div class="col-sm align-content-center">
              <a class="gmail" href="mailto:shannia.dwim@gmail.com"></a>
          </div>
          <div class="col-sm align-content-center">
              <a class="linkedin" href="https://www.linkedin.com/in/shannia-dwi-melianti-825741159/"></a>
          </div>
          <div class="col-sm align-content-center">
              <a class="instagram" href="https://www.instagram.com/shanniadm/"></a>
          </div>
          <div class="col-sm align-content-center">
              <a class="youtube" href="https://www.youtube.com/channel/UCuX-I38rbM5CzYtNiHU1-Zg/videos?view_as=subscriber"></a>
          </div>
        </div>
      </div>

{% endblock %}