{% extends "page/BASE.html" %}

{% load static %}
{% block page_content %}
    <div class="e-bag-1"></div>
    <div class="e-bag-2"></div>
    <div class="e-bag-3"></div>
    <div class="e-bag-4"></div>

    <div class="ach">
        <div class="e-judul-1">
            <div class="ach-1"> A C H I E V E M E N T S</div>
            <div class="ach-2"> A C H I E V E M E N T S</div>
            <div class="ach-3"> A C H I E V E M E N T S</div>
        </div>  
        <div class="achievements">
            <div class="tahun-ach">2015<br/>2018</div>
            <div class="ach-2015">3rd Place in Jabodetabek<br/>Vocal Grup Competition</div>
            <div class="ach-2018">1st Best Student at Natural Science<br/> Major SMAN 7 Tangerang Selatan</div>
        </div>     
    </div>
    
    <div class="exp">
        <div class="judul-exp">
            <div class="exp-1"> E X P E R I E N C E S</div>
            <div class="exp-2"> E X P E R I E N C E S</div>
            <div class="exp-3"> E X P E R I E N C E S</div>
        </div>
        <div class="experiences">
            <div class="tahun-exp">2016<br/>2019</div>
            <div class="exp-2016">as Secretary <br/>at Voseuth Choir</div>
            <div class="exp-2019">as Decoration Division Staff<br/>at UI Ethnovaganza 2019</div>
        </div>
    </div>
    
{% endblock %}