{% extends "page/BASE.html" %}

{% load static %}
{% block page_content %}
    <div class="bag-1"></div>
    <div class="bag-2"></div>
    <div class="bag-3"></div>
    <div class="bag-4"></div>

    <div class="judul-gal">
        <div class="gal-1"> G A L L E R Y</div>
        <div class="gal-2"> G A L L E R Y</div>
        <div class="gal-3"> G A L L E R Y</div>
    </div> 

    <div class="baris-1">
        <div class="g-photo-1"></div>
        <div class="fyi-1">with Puspa Swara at Tokopedia AI Center<br/>of Excelent Inauguration  2019</div>
        <div class="g-photo-2"></div>
        <div class="fyi-2">with Puspa Swara at Closing DigiTalent<br/>Scholarship 2019</div>
    </div>
{% endblock %}