{% extends "page/BASE.html" %}

{% load static %}
{% block page_content %}
    <div class="photo1"></div>
    <div class="photo2"></div>
    <div class="photo4"></div>
    <div class="photo3"></div>

    <div class="judulutama">S‏   H‏   A‏   N‏   S</div>

    <div class="quote1">“Art is not a thing, it is the<br/>way of life.” -Elbert Hubbert</div>
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="quote2">Let me take you into my own world <br/>which is beyond your imagination.</div> 

{% endblock %}