{% extends "page/BASE.html" %}

{% load static %}
{% block page_content %}
    <div class="bag-1"></div>
    <div class="bag-2"></div>
    <div class="bag-3"></div>
    <div class="bag-4"></div>
    <div class="judul-project"> ART & MUSIC PROJECT</div>

    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/U7k7ZRTPUpM?rel=0" allowfullscreen></iframe>
    </div>
{% endblock %}