@font-face {
    font-family: "Post No Bills Jaffna ExtraBold";
    src: url('../font/PostNoBills.ttf');
}

@font-face {
    font-family: "Markazi";
    src: url('../font/MarkaziText-Roman-VF.ttf');
}
@media (max-width: 992px){

}
@media (max-width: 768px){

}
@media (max-width: 576px){

}

body{
    position: sticky;
    width: 100%;
    height: 1124px;
    background: #080808;
}

.navbar{
    background-color:#f5f5f5;
}

.container{
    width: 100%;
    margin: 0 auto;
}

.navbar-brand{
    font-family: "Post No Bills Jaffna ExtraBold";
    color: #080808;
    font-size: 36px;
}

.nav-link{
    color: #080808;
    font-family: "Markazi";
    font-size: 28px;
}

.footer {
    position:relative;
    left: 0%;
    top: 100%;;
    width: 100%;
    background-color:#f5f5f5;
    text-align: center;
    height: 35px;
}

.footer-logo{
    font-family: "Markazi";
    font-size: 22px;
    color: #080808;
}

.photo1 {
    position: absolute; 
    width: 30%;
    height: 50%;
    right: 0%;
    top: 0%;
    background: url(../img/photo-1519666152019-8340ed12987b.jpg);
    background-size: cover;
}

.photo2{
    position: absolute;
    width: 300px;
    height: 370px;
    right: 20%;
    top: 16%;
    background: url(../img/photo-1495232416988-d26458b7a5fb.jpg);
    background-size: cover;
}

.photo3{
    position: absolute;
    width: 300px;
    height: 420px;
    left: 10%;
    top: 40%;
    background: url(../img/photo-1514410432920-a6ed15a94c7c.jpg);
    background-size: cover;
}

.photo4{
    position: absolute;
    width: 50%;
    height: 40%;
    left: 0%;
    bottom: 0%;
    background: url(../img/photo-1499419865879-453926ae8a72.jpg);
    background-size: cover;
}

.judulutama {
    position: absolute;
    width: 50%;
    height: 100px;
    left: 30%;
    top: 48%;
    font-family: Post No Bills Jaffna ExtraBold;
    font-style: normal;
    font-weight: 800;
    font-size: 117px;
    color: #F5F5F5;
}


.quote1{
    position: absolute;
    width: 30%;
    height: 78px;
    right: 49%;
    top: 25%;
    font-family: Petrona;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 45px;
    text-align: right;
    color: #F5F5F5;
}

.quote2{
    position: absolute;
    width: 40%;
    height: 88px;
    left: 54%;
    top: 74%;
    font-family: Petrona;
    font-style: normal;
    font-weight: normal;
    font-size: 29px;
    line-height: 45px;
    color: #F5F5F5;
}

.line1{
    position: absolute;
    width: 400px;
    height: 0px;
    right: 49%;
    top: 35%;
    border: 3px solid #F5F5F5;
}

.line2{
    position: absolute;
    width: 400px;
    height: 0px;
    left: 54%;
    top: 71%;
    border: 3px solid #F5F5F5;
}

.photo21{
    position: absolute;
    width: 293px;
    height: 408px;
    left: 59px;
    top: 0%;
    background: url(../img/photo-1512413914633-b5043f4041ea.jpg);
}

.profile1{
    position: absolute;
    width: 20%;
    height: 30%;
    left: 15%;
    top: 15%;
    background: url(../img/profile-1.jpg);
    background-size: cover;
}

.perkenalan{
    position: absolute;
    width: 60%;
    height: 20%;
    top:10%;
    right: 0%;
    font-family: Petrona;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 34px;
    
    color: #F5F5F5;
}

.education{
    position: absolute;
    width: 398px;
    height: 200px;
    right: 20%;
    top: 23%;
    
    font-family: Petrona;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 34px;
    text-align: right;
    
    color: #F5F5F5;    
}

.header-edu{
    position: absolute;
    width: 20%;
    height: 10%;
    right: 10%;
    top: 23%;
    
    font-family: Post No Bills Jaffna ExtraBold;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 60px;
    text-align: right;
    
    color: #F5F5F5;
}

.photo22{
    position: absolute;
    width: 27%;
    height: 43%;
    right: 0%;;
    bottom: 0%;
    background: url(../img/photo-1511394829526-5c55e8e024bf.jpg);
    opacity: 0.7;
}

.profile2{
    position: absolute;
    width: 22%;
    height: 30%;
    right:15% ;
    bottom:5%;
    background: url(../img/profile2.jpg);
    background-size: cover;
    opacity: 0.8;
}

.title-page{
    position: absolute;
    width: 50%;
    height: 120px;
    left:38%;
    top: 43%;
    
    font-family: Post No Bills Jaffna ExtraBold;
    font-style: normal;
    font-weight: 800;
    font-size: 96px;
    line-height: 144px;
    
    color: #F5F5F5;
}

.style1{
    position: absolute;
    width: 20%;
    height: 10%;
    left: 38%;
    top: 41%;
    font-family: Post No Bills Jaffna ExtraBold;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 54px;
    color: #F5F5F5;
}

.style2{
    position: absolute;
    width: 189px;
    height: 51px;
    right: 24%;
    top: 52%;
    font-family: Post No Bills Jaffna ExtraBold;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 54px;    
    color: #F5F5F5;    
}

.header-skill{
    position: absolute;
    width: 30%;
    height: 10%;
    left: 5%;
    bottom: 26%;
    
    font-family: Post No Bills Jaffna ExtraBold;
    font-style: normal;
    font-weight: 800;
    font-size: 44px;
    line-height: 66px;
    color: #F5F5F5;
}

.container-1{
    position: absolute;
    width: 50%;
    height: 20%;
    left:5%;
    top:75%;
}

.python{
    position: absolute;
    width: 80px;
    height: 80px;
    background: url(../img/python.png);
    background-size: cover;
}

.java{
    position: absolute;
    width: 80px;
    height: 80px;
    background: url(../img/java.png);
    background-size: cover;
}

.html{
    position: absolute;
    width: 80px;
    height: 80px;
    background: url(../img/html.png);
    background-size: cover;
}

.css{
    position: absolute;
    width: 80px;
    height: 80px;
    background: url(../img/css.png);
    background-size: cover;
}

.e-bag-1{
    position: absolute;
    width: 25%;
    height: 45%;
    left: 0%;
    top: 0%;
    background: url(../img/photo-1551655510-89d4c12d59e8.jpg);
    opacity: 0.5;
}

.e-bag-2{
    position: absolute;
    width: 20%;
    height: 30%;
    left: 10%;
    top: 25%;
    background: url(../img/photo-1551655510-89d4c12d59e8.jpg);
    opacity: 0.5;
}

.e-bag-3{
    position: absolute;
    width: 25%;
    height: 40%;
    right: 0%;
    bottom:0%; 
    background: url(../img/photo-1513128034602-7814ccaddd4e.jpg);
    opacity: 0.2;
    background-size: cover;
}

.e-bag-4{
    position: absolute;
    width: 20%;
    height: 30%;
    right: 12%;
    bottom:15%; 
    background: url(../img/photo-1513128034602-7814ccaddd4e.jpg);
    opacity: 0.2;
}

.ach{
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0%;
    right: 0%;
}

.e-judul-1{
    position: absolute;
    width: 100%;
    height: 30%;
    top:10%;
    left: 0%;
    font-family: Post No Bills Jaffna ExtraBold;
}

.ach-1{
    position: absolute;
    width: 70%;
    height: 10%;
    left: 5%;
    top: 30%;
    font-family: Post No Bills Jaffna ExtraBold;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 96px;
    color: #F5F5F5;    
}

.ach-2{
    position: absolute;
    width: 365px;
    height: 44px;
    left: 3%;
    top: 24%;
    
    font-family: Post No Bills Jaffna ExtraBold;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    color: #F5F5F5;
}

.ach-3{
    position: absolute;
    width: 365px;
    height: 44px;
    left:33%;
    top: 70%;
    
    font-family: Post No Bills Jaffna ExtraBold;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    
    color: #F5F5F5;
}

.achievements{
    position: absolute;
    width: 100%;
    height: 30%;
    top: 40%;
    left:0%;
}

.tahun-ach{
    position: absolute;
    width: 20%;
    height: 20%;
    left: 10%;
    top: 0%;
    font-family: Post No Bills Jaffna ExtraBold;
    font-style: normal;
    font-weight: 800;
    font-size: 96px;
    line-height: 144px;
    color: #F5F5F5;    
}

.ach-2015{
    position: absolute;
    width: 40%;
    height: 10%;
    left: 25%;
    top: 18%;
    
    font-family: Petrona;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 34px;
    
    color: #F5F5F5;
}

.ach-2018{
    position: absolute;
    width:40%;
    height: 20%;
    left: 25%;
    top: 105%;
    
    font-family: Petrona;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 34px;
    
    color: #F5F5F5;
}

.exp{
    position: absolute;
    width: 100%;
    height: 50%;
    top: 50%;
    right: 0%;
}

.judul-exp{
    position: absolute;
    width: 100%;
    height: 30%;
    top: 0%;
    right: 0%;
    font-family: Post No Bills Jaffna ExtraBold;
}

.exp-1{
    position: absolute;
    width: 50%;
    height: 10%;
    right: 5%;
    top: 30%;
    font-family: Post No Bills Jaffna ExtraBold;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 96px;
    color: #F5F5F5;    
}

.exp-2{
    position: absolute;
    width: 365px;
    height: 44px;
    right: 30%;
    top: 26%;
    
    font-family: Post No Bills Jaffna ExtraBold;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    
    color: #F5F5F5;
}

.exp-3{
    position: absolute;
    width: 365px;
    height: 44px;
    right:0%;
    top: 70%;
    
    font-family: Post No Bills Jaffna ExtraBold;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    
    color: #F5F5F5;
}


.experiences{
    position: absolute;
    width: 100%;
    height: 30%;
    top: 30%;
    left: 0%;
}

.tahun-exp{
    position: absolute;
    width: 20%;
    height: 20%;
    right: 12%;
    top: 0%;
    font-family: Post No Bills Jaffna ExtraBold;
    font-style: normal;
    font-weight: 800;
    font-size: 96px;
    line-height: 144px;
    color: #F5F5F5;    
}

.exp-2016{
    position: absolute;
    width: 40%;
    height: 10%;
    right: 35%;
    top: 20%;
    font-family: Petrona;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 34px;
    text-align: right; 
    color: #F5F5F5;
}

.exp-2019{
    position: absolute;
    width:40%;
    height: 20%;
    right: 35%;
    top: 109%; 
    font-family: Petrona;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 34px;
    text-align: right;
    color: #F5F5F5;
}

.bag-1{
    position: absolute;
    width: 30%;
    height: 15%;
    left: 10%;
    top: 5%;
    background: url(../img/photo-1503149779833-1de50ebe5f8a.jpg);
    opacity: 0.4;
    background-size: cover;
}

.bag-2{
    position: absolute;
    width: 20%;
    height: 40%;
    right: 10%;
    top: 0%;
    background: url(../img/photo-1493552152660-f915ab47ae9d.jpg);
    opacity: 0.3;
    background-size: cover;
}

.bag-3{
    position: absolute;
    width: 20%;
    height: 40%;
    left: 0%;
    bottom:0%;
    background: url(../img/photo-1525279844598-52fd0d3fecc2.jpg);
    opacity: 0.2;
    background-size: cover;
}

.bag-4{
    position: absolute;
    width: 30%;
    height: 15%;
    left: 50%;
    bottom: 0%;
    background-size: cover;
    background: url(../img/photo-1485134532658-d720895a3b5e.jpg);
    opacity: 0.3;
} 

.judul-project{
    position: absolute;
    width:100%;
    height: 10%;
    left:0%;
    top: 10%;
    font-family: Post No Bills Jaffna ExtraBold;
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 96px;
    color: #F5F5F5;    
    text-align: center;
}

.embed-responsive{
    width: 50%;
    height: 40%;
    top: 23%;
    left:25%;
    position: absolute;
}

.judul-gal{
    position: absolute;
    width: 100%;
    height: 30%;
    top:7%;
    left: 0%;
}

.gal-1{
    position: absolute;
    width:50%;
    height: 10%;
    left:38%;
    top: 15%;
    font-family: Post No Bills Jaffna ExtraBold;
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 96px;
    color: #F5F5F5;    
}

.gal-2{
    position: absolute;
    width: 365px;
    height: 44px;
    left: 34%;
    top: 10%;
    
    font-family: Post No Bills Jaffna ExtraBold;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;
    
    color: #F5F5F5;
}

.gal-3{
    position: absolute;
    width: 365px;
    height: 44px;
    left: 56%;
    top: 36%;
    
    font-family: Post No Bills Jaffna ExtraBold;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;
    
    color: #F5F5F5;
}

.baris-1{
    position: absolute;
    width: 100%;
    height: 50%;
    top:28%;
    left: 0%;
}
.content-1{
    width: 50%;
    height: 50%;
    left: 50%;
    top:0%;
}

.g-photo-1{
    position: absolute;
    width: 35%;
    height: 50%;
    left: 10%;
    top: 0%;
    background: url(../img/545d8e4b-f176-4a69-9be4-830a7117d531.jpg);
    background-size: cover;
}

.fyi-1{
    position: absolute;
    width: 35%;
    height: 10%;
    left: 10%;
    top: 50%;
    font-family: Petrona;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    
    color: #F5F5F5;
}


.g-photo-2{
    position: absolute;
    width: 35%;
    height: 50%;
    left: 53%;
    top: 0%;
    background: url(../img/50c5a40f-fdee-44ca-9b2e-b178f02332e4.jpg);
    background-size: cover;
}

.fyi-2{
    position: absolute;
    width: 35%;
    height: 10%;
    left: 53%;
    top: 50%;
    
    font-family: Petrona;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #F5F5F5;
}

.c-bag-1{
    position: absolute;
    width: 30%;
    height: 40%;
    left: 0%;
    bottom:0%;
    background: url(../img/photo-1512413914633-b5043f4041ea.jpg);
    opacity: 0.2;
}

.c-bag-2{
    position: absolute;
    width: 20%;
    height: 30%;
    left: 20%;
    bottom:27%;
    background: url(../img/photo-1512413914633-b5043f4041ea.jpg);
    opacity: 0.2;
}

.c-bag-3{
    position: absolute;
    width: 30%;
    height: 40%;
    right:0%;
    top:0%;
    background: url(../img/photo-1503149779833-1de50ebe5f8a.jpg);
    opacity: 0.3;
}

.c-bag-4{
    position: absolute;
    width: 20%;
    height: 30%;
    right:20%;
    top:27%;
    background: url(../img/photo-1503149779833-1de50ebe5f8a.jpg);
    opacity: 0.3;
}

.judul-contact{
    position: absolute;
    width: 100%;
    height: 20%;
    top:10%;
    left:0%;
}

.con-1{
    position: absolute;
    width: 50%;
    height: 10%;
    left: 25%;
    top:8%;
    
    font-family: Post No Bills Jaffna ExtraBold;
    font-style: normal;
    font-weight: 800;
    font-size: 96px;
    line-height: 144px;
    text-align: center; 
    color: #F5F5F5;
}

.con-2{
    position: absolute;
    width: 20%;
    height: 10%;
    left: 25%;
    top: 0%;
    font-family: Post No Bills Jaffna ExtraBold;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #F5F5F5;
}

.con-3{
    position: absolute;
    width: 20%;
    height: 10%;
    left: 55%;
    top: 50%;
    font-family: Post No Bills Jaffna ExtraBold;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #F5F5F5;
}

.con-4{
    position: absolute;
    width: 20%;
    height: 10%;
    left: 10%;
    top: 48%; 
    font-family: Post No Bills Jaffna ExtraBold;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 10%;
    text-align: center;
    color: #F5F5F5;
}

.con-5{
    position: absolute;
    width: 20%;
    height: 10%;
    left: 70%;
    top: 30%; 
    font-family: Post No Bills Jaffna ExtraBold;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 10%;
    text-align: center;
    color: #F5F5F5;
}

.horizontal{
    position: absolute;
    width: 70%;
    height: 0%;
    left: 15%;
    top: 28%;
    border: 5px solid #F5F5F5;
}

.container-2{
    position: absolute;
    width: 70%;
    height: 30%;
    left:18%;
    top:35%;
    
}

.gmail{
    position: absolute;
    width: 80px;
    height: 80px;
    background: url(../img/gmail.png);
    background-size: cover;
}

.linkedin{
    position: absolute;
    width: 80px;
    height: 80px;
    background: url(../img/linkedin.png);
    background-size: cover;
} 

.instagram{
    position: absolute;
    width: 80px;
    height: 80px;
    background: url(../img/instagram.png);
    background-size: cover;
}

.youtube{
    position: absolute;
    width: 80px;
    height: 80px;
    background: url(../img/youtube.png);
    background-size: cover;
}